.nav-item {
  padding-right: 30px;
}
.form-control {
  margin-top: 14px;
  border: none;
  border-bottom: 1px solid rgba(114, 114, 114, 0.6);
  border-radius: 0;
}
.form-control:focus {
  border: none;
  box-shadow: none;
  border-bottom: 2px solid goldenrod;
}
.reg-btn {
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn:focus {
  border: none;
  box-shadow: none;
}
